{% extends 'base.html' %}

{% block title %}Фильмы{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <h1>Фильмы</h1>
            </div>
            <ul class="list-group">
                {% for prodact in prodacts %}
                    {% include 'prodact_element.html' with element=prodact %}
                    {% if prodact.id == 1 %}
                        <p>2 отзыва</p>
                    {% endif %}
                {% empty %}
                    <li>пустой список</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}